/* ----- standard ----- */
p,a,span {
  font-size: 16px;
  margin: 0;
}

ul,li {
  list-style-type: none;
  padding: 0;
}



/* 共用 */
.bold {
  font-weight: 400;
}
.extra-bold {
  font-weight: 600;
}

.main-container {
  padding: 0 165px;
}